NEW_RELIC_ACCOUNT=YOUR_ACCOUNT_ID
METRIC_NAME=METRIC_TO_QUERY
METRIC_WHERE=NRQL_WHERE_CLAUSE
METRIC_FACET=FACETS_TO_INCLUDE
THRESHOLD=TARGET_THRESHOLD
NEW_RELIC_LICENSE_KEY=YOUR_LICENSE_KEY
NEW_RELIC_USER_KEY=YOUR_USER_API_KEY
